# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ActionRogueLike/BlueprintCache/ActionRogueLike.json
.vs/ActionRogueLike/DesignTimeBuild/.dtbcache.v2
.vs/ActionRogueLike/FileContentIndex/0a0ef004-48be-4a5d-988a-98461e06e70c.vsidx
.vs/ActionRogueLike/FileContentIndex/0ce29f1a-a458-4a7d-9021-8aacf033d6c1.vsidx
.vs/ActionRogueLike/FileContentIndex/181926c2-9421-41fb-95f4-e1693c7e5215.vsidx
.vs/ActionRogueLike/FileContentIndex/22664658-314c-4a98-a54a-a28840ef038b.vsidx
.vs/ActionRogueLike/FileContentIndex/2839f7c7-355a-4a70-9ab7-61fbcc06a559.vsidx
.vs/ActionRogueLike/FileContentIndex/2da052d4-6421-41d3-8a5a-8b0ac023bf60.vsidx
.vs/ActionRogueLike/FileContentIndex/2e63b17d-56df-4227-aca8-a65088259260.vsidx
.vs/ActionRogueLike/FileContentIndex/34f54824-69fc-4e99-bbd1-e1097d742a0d.vsidx
.vs/ActionRogueLike/FileContentIndex/36efd256-812f-4248-9c0d-cf5da8297ab4.vsidx
.vs/ActionRogueLike/FileContentIndex/53bb1aa1-990b-44ab-a359-3400f8834f2b.vsidx
.vs/ActionRogueLike/FileContentIndex/601eacf1-d75c-4a4b-9fae-a93f6cfab61f.vsidx
.vs/ActionRogueLike/FileContentIndex/63a864d7-b59c-420b-8450-0aed5f887c6e.vsidx
.vs/ActionRogueLike/FileContentIndex/6edea023-b79f-4156-ad19-97cb0be524e4.vsidx
.vs/ActionRogueLike/FileContentIndex/78643ee3-9a78-4b83-be19-f989c3558758.vsidx
.vs/ActionRogueLike/FileContentIndex/7e98d458-bb75-4cae-bd54-2a30706014d5.vsidx
.vs/ActionRogueLike/FileContentIndex/85199368-de73-420a-874b-89465c9226d6.vsidx
.vs/ActionRogueLike/FileContentIndex/8d9ff208-b870-4792-8317-086d8cb95300.vsidx
.vs/ActionRogueLike/FileContentIndex/900115e7-37c4-47c8-a47f-a9e3c1217bfd.vsidx
.vs/ActionRogueLike/FileContentIndex/91fda391-e5e6-462f-b64f-2abcf91f38c1.vsidx
.vs/ActionRogueLike/FileContentIndex/92dd75e6-3d0d-4164-9cbe-68e9f3e39af8.vsidx
.vs/ActionRogueLike/FileContentIndex/bcf7335a-5701-4097-a080-ea5c5fcd6251.vsidx
.vs/ActionRogueLike/FileContentIndex/c389f998-3937-4a50-adfa-bf576885b44d.vsidx
.vs/ActionRogueLike/FileContentIndex/d3f496f3-67c7-4916-963f-d451712d779c.vsidx
.vs/ActionRogueLike/FileContentIndex/d4586248-b806-4e68-a7d0-e0db598d071c.vsidx
.vs/ActionRogueLike/FileContentIndex/df165c4b-6130-43a6-983e-3f50149ee997.vsidx
.vs/ActionRogueLike/FileContentIndex/e3027365-4cc3-41b3-8f8c-1bfba711b030.vsidx
.vs/ActionRogueLike/v17/.futdcache.v2
.vs/ActionRogueLike/v17/.suo
.vs/ActionRogueLike/v17/Browse.VC.db
.vs/ActionRogueLike/v17/Browse.VC.db-shm
.vs/ActionRogueLike/v17/Browse.VC.db-wal
.vs/ActionRogueLike/v17/Browse.VC.opendb
.vs/ActionRogueLike/v17/DocumentLayout.json
.vs/ActionRogueLike/v17/fileList.bin
.vs/ActionRogueLike/v17/HierarchyCache.v1.txt
.vs/ActionRogueLike/v17/ipch/56a720fcc96214a1.ipch
.vs/ActionRogueLike/v17/ipch/6524890763e4dba.ipch
.vs/ActionRogueLike/v17/ipch/ad251e5b06ac104e.ipch
.vs/ActionRogueLike/v17/ipch/AutoPCH/ac44fb32de7308bc/SCHARACTER.ipch
.vs/ActionRogueLike/v17/ipch/f5d741109ff69020.ipch
.vs/ActionRogueLike/v17/Solution.VC.db
.vs/ActionRogueLike/v17/Solution.VC.db-shm
.vs/ActionRogueLike/v17/Solution.VC.db-wal
.vs/ProjectEvaluation/actionroguelike.metadata.v8.bin
.vs/ProjectEvaluation/actionroguelike.projects.v8.bin
.vs/ProjectEvaluation/actionroguelike.strings.v8.bin
.vsconfig
